<section class="all-apps">
    <h1 class="apps-title">یک اپلیکشن برای تمام نیاز ها</h1>
    <div class="app-wrapper">
    <div class="app"> <p class="app-info">تاکسی اینترنتی</p><img src="./Assets/Images/cab.svg" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">پیک موتوری</p><img src="./Assets/Images/bike.svg" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">درخواست وانت</p><img src="./Assets/Images/Pickup-new.png" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">سفارش انلاین غذا</p><img src="./Assets/Images/food.svg" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">سوپر مارکت انلاین</p><img src="./Assets/Images/market.svg" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">اسنپ اکسپرس</p><img src="./Assets/Images/market.svg" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">بلیط پرواز داخلی</p><img src="./Assets/Images/Domestic Trip.png" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">بلیط پرواز خارجی</p><img src="./Assets/Images/Domestic Trip.png" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">دکتر</p><img src="./Assets/Images/doctor.svg" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">رزرو هتل</p><img src="./Assets/Images/hotel.png" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">رزرو اقامتگاه</p><img src="./Assets/Images/trip.svg" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">فروشگاه</p><img src="./Assets/Images/new Shop.png" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">بلیط اتوبوس</p><img src="./Assets/Images/bus.png" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">بلیط قطار</p><img src="./Assets/Images/train.png" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">اسنپ!کلاب</p><img src="./Assets/Images/club.svg" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">سرمایه گذاری</p><img src="./Assets/Images/Service Icon.png" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">اسباب کشی منزل</p><img src="./Assets/Images/Moving.png" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">سرویس اعتباری</p><img src="./Assets/Images/pay.svg" alt="" class="app-img"></div>
    <div class="app"> <p class="app-info">اسنپ تیکت</p><img src="./Assets/Images/ticket-icon.svg" alt="" class="app-img"></div>
  </div>
  </section>