<section class="hero-section">
    <div class="hero hero-img">
      <img
        src="./Assets/Images/intro_mobile.jpeg"
        alt=""
        class="hero-image"
      />
      <img src="./Assets/Images/intro_desktop.jpeg" alt="" class="hero-image-desktop">
    </div>
    <div class="hero hero-text">
      <h1 class="hero-head">
        تجربه&zwnj;ی زندگی راحت&zwnj;تر، سریع&zwnj;تر و به&zwnj;صرفه&zwnj;تر
        با سوپراپلیکیشن اسنپ!
      </h1>
      <p class="hero-descp">
        از درخواست خودرو گرفته تا سفارش غذا، خرید سوپرمارکتی، خرید بلیط سفر،
        مشاوره‌ی پزشکی و روانشناسی، رزرو هتل و.. را میتوانید با سوپراپلیکیشن
        اسنپ انجام دهید.
      </p>
      <div class="hero-number">
        <button class="hero-number-btn">ارسال لینک</button>
      <input type="number" class="hero-input" placeholder="۰۹xxxxx۶۷۸۹">
      </div>
      <button class="hero-btn">دانلود اپلیکیشن اسنپ</button>
    </div>
  </section>