<section class="hiring-sec">
    <div class="hire-text">
      <h1 class="hire-title">
        در کمتر از ۱۰ دقیقه ثبت نام کنید و به ناوگان اسنپ بپیوندید
      </h1>
      <p class="hire-descp">
        بدون نیاز به مراجعه حضوری از طریق این صفحه تمام مراحل ثبت نام را
        اینترنتی انجام دهید
      </p>
      <button class="hire-btn">ثبت نام رانندگان</button>
    </div>
    <div class="hire-video">
      <video src="./Assets/videos/jazb-ranande.mp4" controls></video>
    </div>
    <div class="benefits-box">
      <div class="box-detail">
        <img src="./Assets/Images/income.png" alt="" class="income" />
        <div class="benefits-text">
          <h2 class="benefit-title">
            درامد تضمینی + پاداش های ماهانه و هفتگی
          </h2>
          <p class="benefit-descp">
            با فعالیت در ناوگان اسنپ، علاوه بر کسب درآمد مستمر و امکان تسویه در لحظه می‌توانید با شرکت در طرح‌های تشویقی مختلف، درآمد خود را افزایش دهید.
          </p>
        </div>
      </div>
      <div class="box-detail">
        <img src="./Assets/Images/hour.png" alt="" class="income" />
        <div class="benefits-text">
          <h2 class="benefit-title">ساعت کاری دلخواه</h2>
          <p class="benefit-descp">
            فعالیت در ناوگان اسنپ محدودیت زمانی ندارد و می‌توانید فعالیت خود
            را در هر ساعت از شبانه‌روز و متناسب با برنامه‌ی زندگی‌تان
            شخصی‌سازی کنید.
          </p>
        </div>
      </div>
      <div class="box-detail">
        <img src="./Assets/Images/benefits.png" alt="" class="income" />
        <div class="benefits-text">
          <h2 class="benefit-title">مزایا و خدمات باشگاه رانندگان</h2>
          <p class="benefit-descp">
            در باشگاه رانندگان اسنپ می‌توانید از تسهیلات و خدمات متنوعی از
            جمله خدمات خودرویی، خدمات درمانی و همچنین خدمات رفاهی و آموزشی
            بهره‌مند شوید.
          </p>
        </div>
      </div>
      <div class="box-detail">
        <img src="./Assets/Images/carfix.png" alt="" class="income" />
        <div class="benefits-text">
          <h2 class="benefit-title">کارفیکس</h2>
          <p class="benefit-descp">
            باشگاه رانندگان اسنپ به‌تازگی سرویس جدید «اسنپ کارفیکس» را برای
            سهولت دسترسی کاربران راننده به انواع خدمات خودرویی راه‌اندازی کرده
            است.
          </p>
        </div>
      </div>
    </div>
  </section>