<section class="super-app">
    <div class="super-part1">
      <img
        src="./Assets/Images/super-app.jpeg"
        alt=""
        class="super-app-img"
      />
      <div class="super-text-1">
      <h1 class="super-app-title">سوپر اپ اسنپ؛پاسخی به تمام نیاز ها</h1>
      <p class="super-app-descp">
        اسنپ، اولین تاکسی اینترنتی ایران، بعد از پنج سال فعالیت در حوزه‌ی تردد
        شهری، به یک سوپر‌اپ با خدمات متنوع تبدیل شد. سوپراپ اسنپ راه‌حلی جدید
        و ساده است که با استفاده از آن تنها با یک اپلیکیشن می‌توانید علاوه بر
        درخواست خودرو، موتور و وانت از خدمات متعددی از جمله سفارش غذا، پزشک و
        مشاور آنلاین، خرید از سوپرمارکت‌ها و فروشگاه‌ها، اسباب‌کشی، خرید بلیط
        (هواپیما، اتوبوس، قطار)، رزرو هتل، پرداخت قبض و خرید شارژ استفاده
        کنید.
      </p>
    </div>
    </div>
    <div class="super-part2">
      <div class="super-box">
        <div class="super-box-image">
        <img src="./Assets/Images/easy.png" alt="" class="super-img" />
      </div>
        <h2 class="easy">اسان</h2>
        <p class="easy-descp">
          برای استفاده از هر کدام از خدمات سوپر‌اپ اسنپ کافی است وارد اپلیکیشن
          اسنپ شوید و روی آیکون مورد نظر بزنید.
        </p>
      </div>
      <div class="super-box">
        <div class="super-box-image">
        <img src="./Assets/Images/fast.png" alt="" class="super-img" />
      </div>
        <h2 class="fast">سریع</h2>
        <p class="fast-descp">
          قرار گرفتن خدمات مختلف در یک پلت‌فرم به صرفه‌جویی در زمان کمک
          می‌کند. سوپراپ اسنپ پاسخی سریع به نیازهای رومزه‌ی شماست.
        </p>
      </div>
      <div class="super-box">
        <div class="super-box-image">
        <img src="./Assets/Images/eco.png" alt="" class="super-img" />
      </div>
        <h2 class="eco">به صرفه</h2>
        <p class="eco-descp">
          سوپراپ اسنپ علاوه بر زمان در هزینه‌های شما نیز صرفه‌جویی می‌کند تا
          بهترین خدمات را با قیمتی منطقی دریافت کنید.
        </p>
      </div>
    </div>
  </section>